* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.virtual-container {
    width: 500px;
    height: 90vh;
    margin: 5vh auto;
    border: 2px solid #34cdfc;
    overflow: auto;
}

.virtual-item {
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    &:not(:last-child) {
        border-bottom: none;
    }
}